*{box-sizing:border-box;}
.footer{
    background-color: darkslategray;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0px;
    border-collapse: collapse;
    width:auto;
	padding:5px;
}

